doctype html
html
  head
    title= `${h.siteName}`
    link(href="/css/style.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

  body
    block header
      header.header
        h1.no-padding
          a(href="/") Mafazans
        .topnav
          a.auth-topnav(href="#")
            i.fa.fa-search
          if user
            a.auth-topnav(href="/logout") Logout
            a.auth-topnav(href="/account")
              i.fa.fa-user-circle.user-icon

          else
            a.auth-topnav(href="/login") Sign in
            a.auth-topnav(href="/register") Register

    block navbar
      nav#mainNav.fixed-top
        .navbar
          -for(menu of h.menu)
            a.main-nav(href=menu.slug)= `${menu.title}`

    block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    .content
      block content

    .contact
      block contacts

    .footer
      block footer
          .fnav
            p Copyright &copy; 2018 Arif Mafazan Simohartono.
