mixin postForm(post = {})
	form.form(action=`/blog/post/${post._id || ''}` method="POST" class="card" enctype="multipart/form-data")
		label(for="title") Title
		input(type="text" name="title" value=post.title)
		label(for="content") Content
		textarea(name="content")= post.content
		- const tags = post.tags || []
		label(for="photo") Picture
			input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
			if post.photo
				img(src=`/uploads/${post.photo}`, alt=post.title width=200)
		input.button(type="submit" value="Submit")