mixin postCard(post = {})
	.post
		.post__hero
			.post__actions
				.post__action.post__action--edit
					a(href=`/blog/${post._id}/edit`)
						button edit
			h2.title
				a(href=`/blog/${post.slug}`) #{post.title}
			img.post-img(src=`uploads/${post.photo}` alt="images")
		.post__details
			p= post.content.split(' ').slice(0, 25).join(' ')